appdirs==1.4.4
attrs==19.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
cssselect==1.1.0
dulwich==0.20.6
fake-useragent==0.1.11
fordev==0.2.0
future==0.18.2
huepy==1.2.1
idna==2.8
iniconfig==1.1.1
lxml==4.6.3
mmh3==2.5.1
more-itertools==8.3.0
numpy==1.20.3
numspy==1.0
packaging==20.4
pandas==1.2.4
parse==1.19.0
Pillow==8.2.0
pluggy==0.13.1
py==1.9.0
pycurl==7.43.0.6
pyee==8.1.0
pyparsing==2.4.7
pyppeteer==0.0.25
pyquery==1.4.3
PySocks==1.7.1
pyTelegramBotAPI==3.6.6
pytest==5.4.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.23.0
requests-html==0.10.0
scapy==2.4.4
scipy==1.6.3
six==1.14.0
sockets==1.0.0
soupsieve==2.0.1
toml==0.10.1
tqdm==4.60.0
urllib3==1.24.1
w3lib==1.22.0
wcwidth==0.1.9
websockets==8.1
wfuzz==3.1.0
